<div class="header-container container">

<div class="header__title">
  New Huskies
</div>
<div class="header__nav">
  <div class="header__nav__item">
    Being a Husky
  </div>
  <div class="header__nav__item">
    Living in Boston
  </div>
  <div class="header__nav__item">
    Employment
  </div>
  <div class="header__nav__item">
    Events
  </div>
  <div class="header__nav__item">
    Contact Us
  </div>
</div>
<div class="header__account">
  <button class="btn btn-warning">Log-in/Create Account</button>
</div>
</div>
